h1 Starting up with Harp & Jade

This is pretty much my what i needed : <a href"http://getbootstrap.com/examples/sticky-footer-navbar">http://getbootstrap.com/examples/sticky-footer-navbar</a>
script(src="https://gist.github.com/kbsali/6936192.js")

And here is the same template converted to jade
script(src="https://gist.github.com/kbsali/6936202.js")