- site_description = excerpt
- site_keywords = keywords
h1 #{ title }

p.meta #{ date }

p.
    I've decided to publish things/thoughts/findings... I already published a couple of posts on github using Jekyll a year ago or so, but

ul
    li I wasn't very happy about having to install Ruby and re-learn how to publish new pages using Jekyll
    li I quickly checked how to improve the navigation and change the design etc... and did not find it straight forward.
p.
    So I checked the static site generator solutions outthere and found the followings :

ul
    li Ruby
        ul
            li <a href="http://jekyllrb.com">jekyllrb</a> 12,680 stars, 2,365 forks
            li <a href="http://octopress.org">octopress</a> 6,843 stars, 2,499 forks - a custom version of Jekyll
            li <a href="http://nanoc.ws>nanoc</a> 685 stars, 129 forks
    li Python
        ul
            li <a href="http://getnikola.com>nikola</a> 379 stars, 126 forks
            li <a href="http://hyde.github.io/">hyde</a> 897 stars, 166 forks
    li PHP
        ul
            li <a href="http://www.phrozn.info">phrozn</a> 346 stars, 60 forks
            li <a href="https://sculpin.io">sculpin</a> 119 stars, 12 forks
    li NodeJs
        ul
            li <a href="http://wintersmith.io/">wintersmith</a> 1082 stars, 137 forks
            li <a href="http://harpjs.com/">harp</a> 1274 stars, 52 forks

p.
    How to choose which one to use out of this list? I've added today's github basic analytical data (stars & forks) to show a bit how popular those solutions is among the developers' communities. Of course these numbers are a bit biased : it is obvious that Ruby has the biggest on github (they are part of it themselves), also Jekyll is the defacto solution supported out of box by github : <a href="https://help.github.com/articles/using-jekyll-with-pages">Using Jekyll with Pages</a>. But it still gives a feeling of what the preferred solution is, and therefore helps in taking the final decision.

p.
    In the end the final decision was Not based on these metrics, but... this video <a href="http://www.youtube.com/watch?v=JWU70PWVVbc">http://www.youtube.com/watch?v=JWU70PWVVbc</a> introduced in <a href="http://sintaxi.com/introducing-harp">Introducing Harp</a>! :) I loved the idea of being able to

ul
    li create my pages in different format (jade, md, ejs...),
    li also the fact that it is able to compile less, sass or stylus and therefore easily customize Bootstrap (see the video)
    li and having a powerful built-in server solution aswell as the possibility to freeze the code and generate static html documents ready to be uploaded on basic static servers.

p.
    So there we are, I've decided to give <a href="http://harpjs.com/">Harp</a> a try and I will explain how it went soon!