h1 #{ title }

p.meta #{ date }

p http://architectures.danlockton.co.uk/2007/06/28/changing-behaviour-water-meter-taps/

ul
    li "The Water and energy saving tap" (Stefan Grosvenor)
        small http://homepages.lboro.ac.uk/~cddl/water_and_energy_saving_tap.htm
    li "Tap Meter" (Henry Ellis-Paul)
        small http://homepages.lboro.ac.uk/~cddl/tapmeter.htm
    li "Squirt" (Meghana Vaidyanathan)
        small http://homepages.lboro.ac.uk/~cddl/squirt.htm
        small http://portfolio.madeinbrunel.com/2007/meghana-vaidyanathan/squirt/
    li "+-Water" (Jeon Hwan Soo)
        small http://www.yankodesign.com/2011/07/25/another-perfect-measure/
        small http://technabob.com/blog/2011/02/23/plus-minus-water-meter-concept/
    li "Amphiro a1"
        small http://amphiro.com/products/a1/ (shower only)
    li "Water Lock" (bathtub faucets)
        small http://utilitarianthings.com/post/39710688008/water-lock-is-a-water-meter-and-a-locking-device
    li "iSave" (Reamon Yu)
        small http://www.apartmenttherapy.com/isave-faucet-by-37374
