h1 Who I am

p.
    I'm <span itemprop="name">Kevin Saliou</span>, I've been working in <strong>web development</strong> since 2000. I've been living in <span itemprop="address" itemscope
      itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Barcelona</span>, <span itemprop="region">Catalonia</span></span> since 2003. After working for a couple of companies in the <strong>online payment industry</strong>, I've been working as a <strong itemprop="title">freelance web consultant</strong>. I have lead projects and teams for various projects, following Agile Methodologies (Scrum - I'm a <strong itemprop="role">Certified Scrum Master</strong>) and using state of the art web development frameworks.
p.
    I have experience in <strong>online payment</strong>, <strong>travel / booking industries</strong>, <strong>online advertising</strong>, high traffic platforms. I've tried launching my own projects on several occasions and believe that one always learns from his past experiences and mistakes.

p.
    I specialize in:

ul
    li Project and team management
    li Booking Platform, Payment Processing, Online Payment
    li End User Experience, Accessibility / Usability, Mobile
    li PHP, Python, Javascript, CSS
    li Mysql, PostgreSQL, Mongodb, Redis
    li Nginx, Apache
    li Git, Bazaar, SVN - Linux / Unix
    li MVC frameworks (Syfmony1.*, Symfony2, Django), Doctrine1/2, JQuery, Backbone, AngularJS

h1 Projects

p.
    Here is a list of projects I've been working on privately

ul
    li <a href="http://gasolineras.saliou.name">Spain's petrol stations' prices</a>
        p An intent to make official spanish petrol stations' price data more usable, and showcase its usage with a simple webapp.
    li <a href="http://vg2012.saliou.name">regadata - open data for regatta</a>
        p I'm fond of sailing, in 2012 while following the Vendée Globe, I got frustrated by the official rankings only available in closed Excel format. So I decided to open up those data and make them available in an accesible and responsive webapp.
    li <a href="http://allomatch.com">sportandbar.es</a>
        p I founded and ran the Spanish version of <a href="allomatch.com">allomatch.com</a>, a site which links TV sports programs with an extensive directory of bars.
    li <a href="http://sportgossip.com/">sportgossip</a>
        p This is a personal project which pretends to extend Twitters' lists functionality. It is a database of official athletes' twitter accounts grouped in several manageable categories.
    li <a href="https://github.com/kbsali/php-redmine-api">php-redmine-api</a>
        p A simple PHP Redmine API client, Object Oriented.

h1 Get in touch

p.
    Don't hesitate to get in touch with me through <a href="http://www.linkedin.com/in/#{ linkedin }"><i class="icon-linkedin"></i> <span> LinkedIn</span></a>