ul.posts
    for post, slug in public.posts._data
        if post.ispublished
            li
                h2
                    a(href="/posts/#{ slug }.html")=post.title
                p
                    span.date #{ post.date }
                    span.description #{ post.site_description }