div(class="addthis_toolbox addthis_floating_style addthis_16x16_style hide_small", style="left:5px;top:5px;")
    a(class="addthis_button_facebook")
    a(class="addthis_button_twitter")
    a(class="addthis_button_linkedin")
    a(class="addthis_button_google_plusone_share")
script
    var addthis_config = {"data_track_addressbar":true};
script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=#{ addthis_id }")