aside(class="center", id="about-me", itemscope, itemtype="http://data-vocabulary.org/Person", itemref="about-me")
    img(class="avatar", src="/img/kevin_saliou.jpg", alt="That's me!", itemprop="photo)"
    ul.links
        li
            a(href="https://github.com/#{ github }")
                i(class="icon-github")
                span  Github
        li
            a(href="http://www.linkedin.com/in/#{ linkedin }")
                i(class="icon-linkedin")
                span  LinkedIn
        li
            a(href="https://twitter.com/#{ twitter }")
                i(class="icon-twitter")
                span  Twitter